.DashboardHome {
  display: flex;
  flex-direction: column;
  width: calc(100% - 280px);
}

.Row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25px;
  height: 160px;
}

.Welcome {
  /* background-color: var(--white); */
  border-radius: 15px;
  padding: 30px;
}

.WelcomeTitle {
  font-weight: 400;
  font-size: 26px;
  color: var(--primary);
}

.WelcomeValue {
  font-weight: 200;
  font-size: 24px;
  color: var(--primary);
}

.Summary {
  display: flex;
  flex-direction: row;
  background: var(--white);
  border-radius: 15px;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.SummaryLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Rankslide {
  border-radius: 15px;
  overflow: hidden;
  margin: 25px;
}

.RankName {
  font-weight: 400;
  font-size: 20px;
}

.SummaryRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AttendanceColour {
  width: 100px;
  height: 100px;
  background-color: var(--secondary);
  border-radius: 25px;
  margin: 30px;
}

.AttendanceLabel {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.AttendanceValue {
  font-weight: 500;
}

.AttendanceCaption {
  font-size: 14px;
}

.Row2 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
}

.Row2Container {
  border-radius: 15px;
  background-color: var(--white);
  width: 30%;
  height: 500px;
}

.ContainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ContainerHeaderIcon {
  color: var(--primary);
  font-size: 22px;
  margin-right: 10px;
}

.ContainerHeaderTitle {
  font-weight: 500;
  font-size: 22px;
  color: var(--primary);
}

.Qualification {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.QualificationColour {
  height: 75px;
  width: 75px;
  border-radius: 20px;
}

.QualificationLabel {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.QualificationName {
  color: var(--primary);
  font-weight: 500;
}

.QualificationLevel {
  color: var(--primary);
  font-weight: 200;
}

.NoItems {
  color: var(--primary);
  margin-left: 5%;
}

.WarningsHeader {
  color: var(--blue);
  font-weight: 500;
  margin-left: 5%;
  margin-top: 15px;
}

.WarningsDivider {
  width: 90%;
  background-color: rgba(116, 116, 116, 0.68);
  height: 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Warning {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.WarningTitle {
  color: var(--blue);
  font-weight: 500;
  font-size: 15px;
}

.WarningDescription {
  color: var(--blue);
  font-weight: 300;
  font-size: 14px;
}

.WarningIssuedBy {
  display: flex;
  flex-direction: row;
}

.WarningIssuedByLabel {
  color: var(--blue);
  font-weight: 500;
  font-size: 15px;
}

.WarningIssuedByValue {
  color: var(--blue);
  font-weight: 300;
  font-size: 15px;
  margin-left: 5px;
}

.WarningDate {
  display: flex;
  flex-direction: row;
}

.WarningDateLabel {
  color: var(--blue);
  font-weight: 500;
  font-size: 15px;
}

.WarningDateValue {
  color: var(--blue);
  font-weight: 300;
  font-size: 15px;
  margin-left: 5px;
}

.RemainingWarnings {
  color: var(--primary);
  margin-left: 5%;
  font-size: 14px;
  font-weight: 500;
}
