.DashboardHome {
  display: flex;
  flex-direction: column;
  width: calc(100% - 280px);
}

.Row1 {
  display: flex;
}

.Welcome {
  /* background-color: var(--white); */
  border-radius: 15px;
  padding: 30px;
}

.WelcomeTitle {
  font-weight: 400;
  font-size: 26px;
  color: var(--primary);
}

.WelcomeValue {
  font-weight: 200;
  font-size: 24px;
  color: var(--primary);
}

.Summary {
  display: flex;
  flex-direction: row;
  background: var(--white);
  border-radius: 15px;
}

.SummaryLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Rankslide {
  border-radius: 15px;
  overflow: hidden;
  margin: 25px;
}

.RankName {
  font-weight: 400;
  font-size: 20px;
  color: var(--primary);
}

.SummaryRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AttendanceColour {
  width: 100px;
  height: 100px;
  background-color: var(--secondary);
  border-radius: 25px;
  margin: 30px;
}

.AttendanceLabel {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.AttendanceValue {
  font-weight: 500;
  color: var(--primary);
}

.AttendanceCaption {
  font-size: 14px;
  color: var(--primary);
}

.Row2 {
  display: flex;
}

.Row2Container {
  border-radius: 15px;
  background-color: var(--white);
}

.ContainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContainerHeaderIcon {
  color: var(--primary);
  font-size: 22px;
  margin-right: 10px;
}

.ContainerHeaderTitle {
  font-weight: 500;
  font-size: 22px;
  color: var(--primary);
}

.Qualification {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.QualificationColour {
  height: 75px;
  width: 75px;
  border-radius: 20px;
}

.QualificationLabel {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: var(--primary);
}

.QualificationName {
  color: var(--primary);
  font-weight: 500;
}

.QualificationLevel {
  color: var(--primary);
  font-weight: 200;
}

.NoItems {
  color: var(--primary);
  margin-left: 5%;
}

.WarningsHeader {
  color: var(--primary);
  font-weight: 500;
  margin-left: 5%;
  margin-top: 15px;
}

.WarningsDivider {
  width: 90%;
  background-color: rgba(116, 116, 116, 0.68);
  height: 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Warning {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.WarningTitle {
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
}

.WarningDescription {
  color: var(--primary);
  font-weight: 300;
  font-size: 14px;
}

.WarningIssuedBy {
  display: flex;
  flex-direction: row;
}

.WarningIssuedByLabel {
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
}

.WarningIssuedByValue {
  color: var(--primary);
  font-weight: 300;
  font-size: 15px;
  margin-left: 5px;
}

.WarningDate {
  display: flex;
  flex-direction: row;
}

.WarningDateLabel {
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
}

.WarningDateValue {
  color: var(--primary);
  font-weight: 300;
  font-size: 15px;
  margin-left: 5px;
}

.RemainingWarnings {
  color: var(--primary);
  margin-left: 5%;
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (min-width: 1550px) {
  .Row1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .Summary {
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .Row2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-between;
  }

  .Row2Container {
    border-radius: 15px;
    width: 30%;
    height: auto;
    min-height: 500px;
  }

  .ContainerHeader {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1550px) {
  .Row1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
  }

  .Summary {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .Row2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    flex-direction: column;
    justify-content: space-between;
  }

  .Row2Container {
    border-radius: 15px;
    width: auto;
    min-height: 300px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .ContainerHeader {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* SIDEBAR POSITIONING: */

@media only screen and (min-width: 0px) {
  .DashboardHome {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .DashboardHome {
    margin-left: 280px;
  }
}
